* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: "san-serif";
}
header {
  background-color: #373535;
  height: 47px;
  width: 100%;
  padding: 11.5px 20px;
  display: flex;
  justify-content: space-between;
}
.location {
  display: flex;
  gap: 10px;
}
.address {
  color: #bbcc99;
  font-size: 14px;
  line-height: 24px;
}
.three-icon {
  display: flex;
  gap: 10px;
}
.slider {
  background-color: #343436;
  height: 243px;
  background-image: url(./assets/man.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -40px;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: center;
}
.offer {
  line-height: 22.3px;
  font-size: clamp(1rem, 2.5vw, 4rem);
  color: #ffffffd9;
}
.company-motto {
  line-height: 10px;
  color: #ffffffbd;
  font-size: clamp(0.4rem, 2.5vw, 1rem);
}
.search-div {
  padding: 31px 20px 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-background {
  height: 55px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 100%
  );
  width: 100%;
  border-radius: 11px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  max-width: 760px;
}
.search-input {
  gap: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}
.search-input input {
  width: 100%;
  background-color: #87898e;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16.8px;
  height: 40px;
  color: #f9f1d9;
  padding-left: 14.3px;
}
.search-input input::placeholder {
  color: white;
  opacity: 0.4;
}
#search-button {
  background-color: #c6542d;
  width: 45px;
  height: 40px;
  border-radius: 10px;
}
.service {
  display: flex;
  gap: 10px;
  align-items: center;
}
.service div {
  width: 10px;
  height: 10px;
  background-color: #c6542d;
}
.service span {
  font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: 16.8px;
}
.popular-service {
  margin: 57px 0 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.popular-service p {
  font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: 19.2px;
  font-weight: 600;
}
.cards {
  margin-top: 40px;
}
.plumbing-div {
  padding: 20px 33px 20px 20px;
  background-color: #9fbc97;
  display: flex;
  flex-direction: column;
  gap: 21px;
  border-radius: 1px;
}
.plumbing-div img {
  width: 50px;
  height: 50px;
}
.card-text {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.card-text span {
  font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: clamp(1, 2.5, 2);
  color: #ffffff;
}
.company-information {
  margin-top: 112px;
  display: flex;
  flex-direction: column;
  gap: 37px;
}
.company-information img {
  width: 100%;
  max-width: 700px;
  align-self: center;
}
.square {
  width: 10px;
  height: 10px;
  background-color: #c6542d;
}
.company-offers {
  display: flex;
  flex-direction: column;
  padding: 0 20px 145px;
}
.ask {
  display: flex;
  gap: 6px;
  align-items: center;
}
.ask h1 {
  font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: 19.2px;
}

.offer-one {
  padding-top: 22px;
}
.offer-one p {
  font-size: clamp(1rem, 2.5vw, 2rem);
  color: #000000;
  font-weight: 600;
}
.offer-box {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.offer-box div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.offer-box div img {
  width: 20px;
}
.offer-box div p {
  font-size: clamp(1rem, 2.5vw, 2rem);
}
.announcement-cup {
  display: flex;
  gap: 19px;
  margin-top: 45px;
  flex-direction: column;
}
.announcement-cup div {
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  padding: 23px;
  display: flex;
  gap: 19px;
}
.announcement-cup div p {
  color: #37393f;
  font-size: 16px;
}
.announcement-cup div img {
  width: 40px;
}
.more {
  padding-top: 50px;
  border-bottom: 1px solid #df5c46;
  width: 139px;
}

.how-work div {
  display: flex;
  gap: 6px;
  align-items: center;
}
.how-work div .square {
  margin-left: 20px;
}
.how-work-it-p {
  font-size: clamp(1rem, 2.5vw, 2rem);
}
.how-work .motto {
  padding-top: 15px;
  padding-left: 20px;
  font-weight: 600;
  font-size: clamp(1rem, 2.5vw, 2rem);
}
.service-card-div {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.service-card-div .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  height: 273px;
  width: 290px;
}
.couple-img-and-text {
  margin-top: 108px;
  display: flex;
  flex-direction: column;
}
.couple-img-and-text div {
  display: flex;
  gap: 6px;
  margin-left: 20px;
  align-items: center;
}
.couple-img-and-text div {
  font-size: clamp(1rem, 2.5vw, 2rem);
}
.couple-img-and-text .faq-p {
  padding-top: 15px;
  padding-left: 20px;
  font-weight: 600;
  font-size: clamp(1rem, 2.5vw, 2rem);
}
.couple-img-and-text img {
  margin-top: 54px;
  width: 50%;
  align-self: center;
}
.faq-accordion {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.faq-accordion li {
  display: flex;
  background-color: #f6f6f6;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}
.faq-accordion li p {
  color: #000000;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 600;
}
.contact {
  background-color: #f6f6f6;
  margin-top: 84px;
  padding: 32px 20px 0;
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.contact h1 {
  color: #c6542dcc;
  line-height: 22.08px;
  font-size: clamp(1rem, 2.5vw, 2rem);
}
.contact p {
  font-size: clamp(1rem, 2.5vw, 2rem);
  color: #333333;
  font-weight: 600;
  padding-top: 15px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  align-items: center;
}
.name-input {
  display: flex;
  flex-direction: column;
}
.inputs div input {
  border-radius: 10px;
  border: 1px solid #c5c5c5db;
  width: 100%;
  padding: 11.5px 16px;
}
.send {
  padding-top: 30px;
  display: flex;
  gap: 32px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.send div {
  text-align: center;
}
.send-btn {
  background-color: #c6542d;
  border-radius: 10px;
  padding: 11px 0;
  min-width: 140px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}
.send div span {
  font-size: 10px;
  line-height: 14.5px;
}
.articles {
  margin-top: 41.5px;
  padding: 0 24px;
}
.articles-title {
  display: flex;
  gap: 6px;
  align-items: center;
}
.last-added-p {
  padding-top: 19px;
}
.last-added-p p {
  font-weight: 600;
  font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: 19.36px;
}
.articles-title h1 {
  color: #37393f;
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: 300;
}
.articles-container {
  padding-top: 61px;
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
}
.about {
  padding-top: 23px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.date {
  color: #4a3aff;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
}
.service-name {
  display: flex;
  justify-content: space-between;
}
.service-name img {
  align-self: flex-start;
}
.service-name p {
  line-height: 28px;
  color: #1a1a1a;
  font-size: 16px;
}
.about span {
  color: #667085;
  line-height: 24px;
  font-size: 14px;
}
.two-button {
  display: flex;
  gap: 10px;
  margin-top: 19px;
}
.two-button button {
  background-color: #e7f8ee;
  padding: 4px 10px;
  color: #26a95e;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
}
.article {
  width: 325px;
}
.see-more {
  margin-top: 37px;
  display: flex;
  justify-content: end;
}
.see-more button {
  width: 140px;
  height: 40px;
  color: #ffffff;
  line-height: 16.8px;
  font-size: 14px;
  font-weight: 500;
  background-color: #373535;
}
.partners {
  margin-top: 117px;
}
.partners h1 {
  font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: clamp(1, 2.5, 1);
  font-weight: 700;
  padding-left: 20px;
}
.partners h1 span {
  font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: 18px;
  font-weight: 500;
  color: #c6542d;
}
.company-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.map {
  align-self: center;
  max-width: 590px;
  width: 100%;
}
.map img {
  width: 100%;
}
.input-div {
  width: 100%;
  max-width: 547px;
}
.cards-for-desktop {
  display: none;
}
#line-image-for-desk {
  display: none;
}

.text-about-partners {
  display: none;
}
.search-offers {
  display: none;
}
.navigation-for-desk {
  display: none;
}
.location-for-desk {
  display: none;
}
#trash-icon {
  display: none;
}
.sign-in {
  display: none;
}
footer {
  display: none;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 1440px) {
  .cards {
    display: none;
  }
  .cards-for-desktop {
    display: flex;
    gap: 2px;
    width: 1440px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 59px;
    margin: auto;
  }
  .plumbing-div-for-desktop {
    padding: 20px 33px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    border-radius: 1px;
    box-shadow: 10px 5px 5px 5px #fbf7f7;
    width: 371px;
  }
  .card-text span {
    color: black;
    font-size: 18px;
  }
  .plumbing-div-for-desktop img {
    width: 50px;
    height: 50px;
  }
  .green {
    background-color: #9fbc97;
  }
  .company-information {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .company-information img {
    align-self: inherit;
  }
  .announcement-cup {
    flex-direction: row;
  }
  .ask h1 {
    font-size: 18px;
  }
  .offer-one p {
    font-size: 20px;
  }

  .offer-box div p {
    font-size: 20px;
  }
  .announcement-cup {
    margin-top: 38px;
  }
  .order-two {
    order: 2;
  }
  .offer-box {
    margin-top: 30px;
  }
  .company-offers {
    padding: 0;
  }
  .how-work {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    width: 1114px;
    margin: auto;
  }
  #line-image-for-desk {
    display: flex;
  }
  .faq-div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 130px;
    align-items: center;
  }
  .couple-img-and-text {
    margin: 0;
  }
  .faq-accordion {
    padding: 0;
    min-width: 720px;
  }
  .couple-img-and-text div {
    font-size: 18px;
  }
  .couple-img-and-text .faq-p {
    font-size: 20px;
  }
  .couple-img-and-text img {
    min-width: 450px;
    margin-top: 34px;
  }
  .contact {
    flex-direction: row;
    margin-top: 60px;
    padding: 53px 0;
    justify-content: center;
  }
  .map {
    max-width: 436px;
  }
  .contact h1 {
    font-size: 18px;
  }
  .contact p {
    font-size: 20px;
  }
  .send {
    justify-content: inherit;
  }
  .articles-title h1 {
    font-size: 18px;
  }
  .last-added-p p {
    font-size: 20px;
  }
  .article {
    display: flex;
    width: 646px;
    gap: 24px;
  }
  .one-artc {
    width: 566px;
    flex-direction: column;
    display: flex;
  }
  #santeknika {
    width: 100%;
  }
  .text-about-partners {
    display: flex;
    justify-content: space-between;
  }
  .partners h1 {
    display: none;
  }
  .company-logos {
    gap: 40px;
  }
  .partners {
    width: 1081px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 103px 0 43px;
  }
  .text-about-partners h3 {
    font-size: 20px;
  }
  .text-about-partners span {
    font-size: 18px;
    color: #c6542d;
  }
  .slider {
    background-position-x: calc(100% - 83px);
    background-image: url(./assets/men-for-desk.svg);
    height: 408px;
  }
  .search-div {
    padding-top: 91px;
  }
  .texts {
    width: 584px;
  }
  .offer {
    font-size: 31px;
    line-height: 36.4px;
  }
  .company-motto {
    font-size: 16px;
    line-height: 15.2px;
    letter-spacing: 2px;
  }
  .input-background {
    height: 136px;
    flex-direction: column;
    padding: 20px;
    align-items: start;
  }
  .search-input {
    align-items: inherit;
  }
  .search-offers {
    display: flex;
    gap: 16px;
    padding-top: 17px;
    align-items: center;
  }
  .search-offers div {
    text-align: center;
    padding: 10px 13px;
    border-radius: 10px;
    border: 1px solid #a1adb326;
    background-color: #6564644d;
    color: #8f958e;
  }
  .search-offers span {
    color: #ffffff;
  }
  header {
    height: 80px;
  }
  .location-for-desk {
    display: flex;
    gap: 10px;
    border: 1px solid #ececec;
    border-radius: 10px;
    align-items: center;
    padding: 13px 14px 11px 19px;
  }
  .location {
    display: none;
  }
  .navigation-for-desk {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  hr {
    width: 2px;
    height: 20px;
    background-color: #ffffff26;
  }
  li {
    list-style: none;
    color: #f3f3f3;
  }
  #burgerMenu-icon {
    display: none;
  }
  #person {
    display: none;
  }
  #trash-icon {
    display: block;
    width: 20px;
    height: 19.5px;
  }
  .sign-in {
    display: flex;
    gap: 10px;
    border: 1px solid #ececec;
    border-radius: 10px;
    align-items: center;
    padding: 13px 14px 11px 19px;
    color: white;
  }
  .location-for-desk span {
    color: #bbcc99;
  }
  footer {
    background-image: url(./assets/footer-images/bg-img.svg);
    height: 431px;
    padding: 22px 39px;
    display: flex;
    gap: 183px;
    justify-content: center;
  }
  .about-compn {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: start;
    width: 228px;
  }
  .about-compn img {
    height: 40px;
  }
  .social {
    width: 19px;
    display: flex;
    gap: 16px;
  }
  .about-compn p {
    color: #a1a3a9;
  }
  .social img {
    width: 19px;
  }
  .footer-service nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 24px;
  }
  .footer-service nav li {
    color: #999999;
  }
  .footer-service p {
    color: white;
  }
  .footer-company nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 24px;
  }
  .footer-company p {
    color: white;
  }
  .footer-company li {
    color: #999999;
  }
  .contact-addres {
    display: flex;
    gap: 12px;
    padding-top: 24px;
    border-bottom: 2px dotted white;
    padding-bottom: 14px;
    height: 74px;
  }
  .addres span {
    color: #d9d9d9;
  }
  #cl {
    color: white;
  }
  .footer-contact p {
    color: white;
  }
  .how-work-it-p {
    font-size: 18px;
  }
  .how-work .motto {
    font-size: 20px;
  }
  .service span {
    font-size: 18px;
  }
  .popular-service p {
    font-size: 20px;
  }
  #notification-icon {
    width: 18px;
    height: 21px;
  }
  .three-icon {
    align-items: center;
    gap: 29px;
  }
  .for-mobile {
    display: flex;
    gap: 13px;
    justify-content: end;
    padding-top: 22px;
  }
  .see-more button {
    margin-right: 70px;
  }
}
